@keyframes expanding2 {
  0% {
      margin-bottom: -30%;
  }
  100% {
      margin-bottom: 0%;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  position: absolute;
  left: 20rem;
  align-items: center;
  width: calc(100vw - 20rem);
  margin: 0 auto;
  z-index: 2;
}

.sidebar {
  min-width: 20rem;
  width: 20rem;
  height: 100vh;
  overflow-y: scroll;
  border-right: solid 5px grey;
  box-sizing: border-box;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.colorpicker__container__outer {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: calc(100vw - 20rem);
}

.colorpicker__container__inner {
  background-color: #242424;
  border-top: solid 5px grey;
  padding-bottom: 1rem;
  margin-bottom: 0%;
  animation: expanding2 linear 0.5s;
}


.colorpicker__closebutton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 4;
  cursor: pointer;
}

.colorpicker__openbutton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #242424;
  min-width: 5rem;
  min-height: 5rem;
  width: 7vw;
  height: 7vw;
  margin: 2rem;
  border: solid 5px grey;
  border-radius: 5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  animation: fade-in linear 1s;
}

.colorpicker__openbutton:hover, .colorpicker__closebutton:hover{
  opacity: 0.7;
}

