.section__item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
}

.section__item p{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.unchecked {
    opacity: 0.7;
}

.unchecked:hover {
    opacity: 1;
}


.unchecked {
    cursor: pointer;
}

.section__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 0rem 0rem 1rem 0rem;
    cursor: pointer;
    border-bottom: solid 2px grey;
}

h3 {
    font-family: "Barlow-Regular-SemiBold";
    font-size: 1.25rem;
}

.section__content {
    margin: 2rem 0rem 0rem 2rem;
}



@font-face {
    font-family: "Barlow-Regular-SemiBold";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}

