
@keyframes expanding {
    0% {
        margin-top: -50%;
    }
    100% {
        margin-top: 0%;
    }
}

.section__item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
}

.section__item p{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
}

.unchecked {
    opacity: 0.7;
}

.unchecked:hover {
    opacity: 1;
}


.unchecked {
    cursor: pointer;
}

.section__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 0rem 0rem 1rem 0rem;
    cursor: pointer;
    border-bottom: solid 2px grey;
}

h3 {
    font-family: "Barlow-Regular-SemiBold";
    font-size: 1.25rem;
}


.section__content__container {
    overflow: hidden;
}

.section__content {
    margin: 2rem 0rem 0rem 2rem;
    margin-top: 0%;
    animation: expanding linear 0.3s;
}


.colorpicker {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.colorpicker_flexbox {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.colorpicker__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 0rem 0rem 1rem 0rem;
    max-width: 8rem;
    flex-wrap: wrap;
}

.colorpicker h4 {
    padding: 0.5rem 0rem 1rem;
    margin: 0;
    font-size: 1.1rem;
}

.colorpicker h3 {
    padding: 1rem 0rem;
    margin: 0;
}



@font-face {
    font-family: "Barlow-Regular-SemiBold";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}

